In [16]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [17]:
engine = create_engine("sqlite:///hawaii.sqlite?check_same_thread=False")
#https://stackoverflow.com/questions/34009296/using-sqlalchemy-session-from-flask-raises-sqlite-objects-created-in-a-thread-c

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [18]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [19]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.tobs).filter(extract("month", Measurement.date)==6)

In [20]:
#  3. Convert the June temperatures to a list.
dates=results.all()

In [26]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temps = pd.DataFrame(results)
temps.columns = ['Temperature (F)']

In [27]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temps.describe()

       Temperature (F)
count      1700.000000
mean         74.944118
std           3.257417
min          64.000000
25%          73.000000
50%          75.000000
75%          77.000000
max          85.000000

## D2: Determine the Summary Statistics for December

In [28]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).filter(extract("month", Measurement.date)==12)

In [29]:
# 7. Convert the December temperatures to a list.
dates=results.all()

In [30]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temps = pd.DataFrame(results)
temps.columns = ['Temperature (F)']

In [31]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
temps.describe()

       Temperature (F)
count      1517.000000
mean         71.041529
std           3.745920
min          56.000000
25%          69.000000
50%          71.000000
75%          74.000000
max          83.000000

In [32]:
session.query(func.min(Measurement.date),func.max(Measurement.date)).all()

[('2010-01-01', '2017-08-23')]

In [41]:
from sqlalchemy import inspect
for k in Base.classes:
    inst = inspect(k)
    print(inst.columns.keys())

['id', 'station', 'date', 'prcp', 'tobs']
['id', 'station', 'name', 'latitude', 'longitude', 'elevation']

In [37]:
Measurement.metadata.co

TypeError: 'MetaData' object is not callable